body {
	padding: 10px;
	margin: 0;
	line-height: 1.6;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 14px;

}
.container{
    position: absolute;
    left: 37%;
    top: 20%;
    border: 1px solid black;
    padding: 50px;
}
h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    line-height: 35px;
}

button{
    margin-top: 20px;
    width: 128px;
    height: 27px;
    border-radius:5px ;
}
input{
    width: 300px;
}
